<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{resourcenotfound.label.title}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/external-styles.css}" />
<script th:src="@{/js/jquery-1.11.1.min.js}" />
</head>
<body>
	<div id="container">
		<header>
            <h1 th:text="#{exception.label.title.console}"></h1>
            <hr />
		</header>
        <h2 class="error" th:text="#{exception.message.resource}"></h2>           
	</div>
</body>
</html>