.classSelect {
	padding: 0;
	width: 310px;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
	padding: 5px;
	height: 150px;
}

.classQuery {
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;
	margin: 5px;
}

.classLabel {
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Verdana";
	color: black;	
	margin: 5px;
}

.classText {
	border: 1px solid #CCC;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #1C94C4;	
	margin: 5px;
	width: 310px;
}
