<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{index.label.title}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
</head>
<body>
	<div id="header" style="background-color: #6E6E6E;height:45px;">
		<script th:inline="javascript">
		//<![CDATA[
		function logout(){
			window.location.href = '/web_console/j_spring_security_logout';
		}
		
		function changeLanguage(language){			
			var url = window.location.href;
			if(url.indexOf('idMetric') != -1){
				if(url.indexOf('lang') != -1){
					var arrayUrl = url.split('&lang');
					window.location.href = arrayUrl[0] + "&lang=" + language;
				}
				else{
					window.location.href = url + "&lang=" + language;
				}
			}
			else{
				if(url.indexOf('lang') != -1){
					var arrayUrl = url.split('?lang');
					window.location.href = arrayUrl[0] + "?lang=" + language;
				}
				else{
					window.location.href = url + "?lang=" + language;
				}
			}
		}
		//]]>
		</script>
		<img th:src="@{/images/logo.png}" style="margin-left:200px" th:title="#{tooltip.logo.produban}" th:alt="#{tooltip.logo.produban}" />		
		<span sec:authentication="name" class="btn btn-warning" style="margin-top:5px;margin-left:20px;"/>
		<div class="btn-group" style="margin-top:5px;margin-left:550px;">
		  <button type="button" class="btn" th:text="#{button.language.change}" th:title="#{button.language.change}"></button>
		  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li>
		    	<a href="#" onclick="changeLanguage('us');"><img style="height:20px" id="imgUSA" th:src="@{/images/usa.png}" th:title="#{tooltip.logo.usa}" th:text="#{button.language.english}" th:alt="#{tooltip.logo.usa}"></img></a>
		    </li>
		    <li>
		    	<a href="#" onclick="changeLanguage('es');"><img style="height:20px" id="imgESP" th:src="@{/images/spain.png}" th:title="#{tooltip.logo.esp}" th:text="#{button.language.spanish}" th:alt="#{tooltip.logo.esp}"></img></a>
		    </li>
		  </ul>
		</div>
		<button id="closeSession" type="button" style="margin-top:5px;margin-left:10px;" class="btn btn-danger" th:text="#{login.button.close.session}" th:title="#{login.button.close.session}" onclick="logout();"/>
	</div>
</body>
</html>