<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{login.label.title}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:inline="javascript">
	//<![CDATA[
	$(document).ready(function() {
		$('#login').click();

		$("#divX").click(function() {
			$("#errorDiv").hide();
		});
	});
	//]]>
</script>
</head>
<body>
	<button href="#signup" id="login" data-toggle="modal" data-target=".bs-modal-sm" style="display: none"></button>
	<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content" style="width:345px">
				<div class="modal-body">
					<div class="tab-pane fade active in" id="signin">
						<form action="authentication" th:action="@{/j_spring_security_check}" method="post" class="form-horizontal">
							<p th:if="${error}" style="margin-top:20px;">
					  		  	<div class="alert alert-danger alert-error" id="errorDiv">
					  		  		<a href="#" class="close" data-dismiss="alert" id="divX">&times;</a>
							  		<strong th:text="#{login.label.error1}"></strong>
							  		<span th:text="#{login.label.error2}"></span>
							  	</div>
					  		</p>
							<fieldset>
								<div class="control-group">
									<h2 th:text="#{login.label.title}"></h2>
									<label class="control-label" for="userid" th:text="#{login.label.user}"></label>
									<div class="controls">
										<input type="text" class="form-control" name="j_username" id="j_username" placeholder="Username" required="required" autofocus="autofocus"/>									
									</div>
								</div>
	
								<div class="control-group">
									<label class="control-label" for="passwordinput" th:text="#{login.label.password}"></label>
									<div class="controls">
										<input type="password" class="form-control" name="j_password" id="j_password" placeholder="Password" required="required"/>									
									</div>
								</div>
	
								<div class="control-group">
									<label class="control-label" for="signin"></label>
									<div class="controls">
										<button type="submit" class="btn btn-primary" th:text="#{login.label.button}"></button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<center><img th:src="@{/images/logo.png}" title="Logo de Produban" alt="Logo de Produban" /></center>
				</div>
			</div>
		</div>
	</div>
	<!--  
	<div class="header">
		<img th:src="@{/images/logo.png}" style="margin-left:200px" title="Logo de Produban" alt="Logo de Produban" />
	</div>

	<div class="form-signin">
		<div id="sidebar">
		</div>
		<div class="main-content" id="main-content">
			  <form action="authentication" th:action="@{/j_spring_security_check}" method="post" class="form-signin">
		  		<p th:if="${error}" style="margin-top:20px;">
		  		  	<div class="alert alert-danger alert-error">
		  		  		<a href="#" class="close" data-dismiss="alert">&times;</a>
				  		<strong th:text="#{login.label.error1}"></strong>
				  		<span th:text="#{login.label.error2}"></span>
				  	</div>
		  		</p>
		        <h2 style="max-width: 250px;  margin-left: 150px;" th:text="#{login.label.title}"></h2>
		        <input type="j_username" name="j_username" class="form-login" placeholder="Username" required="required" autofocus="autofocus" />
		        <input id="j_password" name="j_password" type="password" class="form-login" placeholder="Password" />
		        <button class="btn btn-lg btn-primary btn-block form-login" type="submit" th:text="#{login.label.button}"></button>
		      </form>
		</div>
    </div>-->
</body>
</html>