<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{exception.label.title.console}"></title>

<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/jquery.dataTables.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/jquery-ui.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/dataTables.jqueryui.css}" />

<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/jquery.dataTables.min.js}" />
<script th:src="@{/js/dataTables.bootstrap.js}" />
<script th:src="@{/js/jquery.balloon.min.js}" />
<script th:src="@{/js/jquery-ui.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:src="@{/js/jquery.validate.min.js}" />


<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){
	$('.link').click(function(e) {
	    e.preventDefault();
	    $('.' + $(this).data('container')).load(this.href);
	});
	
	// Ajax functions
	$('#loadingDiv').hide();
	$(document).ajaxStart(function(){$("#loadingDiv").show();});
	$(document).ajaxStop(function(){$("#loadingDiv").hide();}); 	

});
//]]>
</script>
</head>
<body>
	<div class="header">
		<img th:src="@{/images/logo.png}" style="margin-left:200px" title="Logo de Produban" alt="Logo de Produban" />
	</div>
	<div class="form-signin">
		<div id="sidebar">
			<ul>
				<li><a class="link" href="#" th:href="@{/console/create}" data-container="main-content" th:text="#{create.label.title}"></a></li>
				<li><a class="link" href="#" th:href="@{/console/show}" data-container="main-content" th:text="#{show.label.title}"></a></li>
			</ul>
		</div>
		<div class="main-content" id="main-content">
				<p th:if="${errorCreateBatchMetric} == true">
			 		<div class="alert alert-danger alert-error">
				  		<strong th:text="#{create.label.error1}"></strong>
				  		<span th:text="#{create.label.error2}"></span>
				  		<span th:text="${messageError}"></span>
				  	</div>
			 		</p>
			 	<p th:if="${errorCreateBatchMetric} == false">
			  		<div class="alert alert-success">
				  		<strong th:text="#{create.label.ok1}"></strong>
				  		<span th:text="#{create.label.ok2}"></span>
				  	</div>
				</p>
		</div>
	</div>
</body>
</html>