<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{create.label.title.batch}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />

<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<style>
</style>
</head>
<body>
<form>
<fieldset class="scheduler-border">
<legend class="scheduler-border" th:text="#{create.label.streams}"></legend>
<label for="lblMetricName" th:text="#{create.label.nombre}"></label>
<input id="idSource2" type="text"/>
</fieldset>
</form>
</body>
</html>    