<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{create.label.title.batch}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />

<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:inline="javascript">
//<![CDATA[
	$(document).ready(function() {	
		var query = '';
		var idMetric = /*[[${metricaBatch.id}]]*/ "";
		var isBatch = /*[[${metricaBatch.isBatch}]]*/ "";
		
		if (idMetric != null && idMetric != ''){
			setTimeout(function() {
				$('#sourceId').prop('disabled', false);
				$('#sourceId').click();
				$('#sourceId').prop('disabled', true);
				//$('#selFields').prop('disabled', true);
			}, 150);
			
			/*
			if(isBatch){
				$('#divSchedule').show();				
			}
			else{
				$('#divSchedule').hide();
			}
			*/
		}
		else{
			setTimeout(function() {
				$('#sourceId').click();
			}, 150);
		}
		
		/*
		$("input[name=rdMetricType]").click(function () { 
			if($(this).val() == '1'){
				$('#divSchedule').show();
			}
			else{
				$('#divSchedule').hide();
			}
		});
		
		$("#planificacion").datepicker({
            dateFormat: "mm/dd/yy"
        });
		*/
		// Ajax functions
		$('#loadingDiv').hide();
		$(document).ajaxStart(function(){$("#loadingDiv").show();});
		$(document).ajaxStop(function(){$("#loadingDiv").hide();});

		$('#sourceId').click(function() {
			$('#idSource').val($('#sourceId').val());
			$('#selSourceName').val($( "#sourceId option:selected" ).text());
			$('#selFields').load('getFieldsBySource', {idSource: $('#idSource').val()} );
			$('#fromQuery').val("FROM " + $( "#sourceId option:selected" ).text());
		});

		/*
		$('#selFields').change(function(){ 
			query += $('#selFields option:selected' ).text() + ' ';
			$('#selectQuery').val($('#selectQuery').val() + query);
		});

		$('input[type=radio][name=rdTimestamp]').change(function() {
			if($("#rdTimestampSi").is(':checked')){
				if($('#txtTimestamp').val() == ''){
					$("#txtTimestamp").attr('required', '');					
				}
				else{
					$("#txtTimestamp").removeAttr('required'); 
				}
			}
			else{
				$("#txtTimestamp").removeAttr('required'); 
			}
		});
		*/

		function CreateForm(){			
			var createForm = this;
			createForm.batchMetricName = $('#batchMetricName').val();
			createForm.batchMetricDesc = $('#batchMetricDesc').val();
			createForm.hidModif = $('#hidModif').val();			
			createForm.rdMetricType = $('input[name=rdMetricType]:checked').val();
			createForm.sourceId = $('#sourceId').val()[0];
			createForm.typeQuery = $('textarea#typeQuery').val();
			createForm.fromQuery = $('textarea#fromQuery').val();
			createForm.selectQuery = $('textarea#selectQuery').val();
			createForm.whereQuery = $('textarea#whereQuery').val();
			createForm.esTimestamp = $('#esTimestamp').val();
			createForm.selSourceName = $('#selSourceName').val();
			//createForm.planificacion = $('#planificacion').val();
			createForm.esId = $('#esId').val();
			createForm.error = null;
		}

		$("#createForm").submit(function() {
			$("#errorDiv").hide();
			var createForm = new CreateForm();
			$('#fromQuery').prop('disabled', false);
			$('#batchMetricName').prop('disabled', false);
			$('#batchMetricDesc').prop('disabled', false);
			$('#sourceId').prop('disabled', false);
			$('#selFields').prop('disabled', false);
			$('#rdMetricType').prop('disabled', false);
			$('#typeQuery').prop('disabled', false);
			$('#esTimestamp').prop('disabled', false);
			$("#loadingDiv").show();
			
			if ($("#hidModif").val() != 0){			
				$.ajax({ 
				    url: "/web_console/console/updateMetricBBDDES", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(createForm), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
						if(data.id == 'ERROR'){
					    	$("#loadingDiv").hide();
					    	$("#errorDiv").show();
					    	document.getElementById('errorMessage').innerHTML = data.error;
							$('#fromQuery').prop('disabled', true);
							$('#rdMetricType').prop('disabled', true);
							$('#sourceId').prop('disabled', true);
						}
						else{
							$.ajax({ 						
							    url: "/web_console/console/insertIntoHiveRel", 
							    type: 'POST', 
							    dataType: 'json', 
							    data: JSON.stringify(createForm), 
							    contentType: 'application/json',
							    mimeType: 'application/json'				    
							});
					    	$("#main").load('/web_console/console/showbatch');
						}
				    },
				    error:function(error) {
				    	document.getElementById('errorMessage').innerHTML = error;
				    	$("#loadingDiv").hide();
				    	$("#errorDiv").show();
				    }
				});
			}
			else{
				$.ajax({ 
				    url: "/web_console/console/createMetricBBDDES", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(createForm), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
						if(data.id == 'ERROR'){
					    	$("#loadingDiv").hide();
					    	$("#errorDiv").show();
					    	document.getElementById('errorMessage').innerHTML = data.error;
						}
						else{
							$.ajax({ 						
							    url: "/web_console/console/insertIntoHive", 
							    type: 'GET', 
							    data: {idMetric: data.id}
							});
					    	$("#main").load('/web_console/console/showbatch');
						}
				    },
				    error:function(error) {
				    	document.getElementById('errorMessage').innerHTML = error;
				    	$("#loadingDiv").hide();
				    	$("#errorDiv").show();
				    }
				});
			}
		});

		$('#imgTypeHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divTypeTooltipHelp").html();
		    }
		});
		$('#imgSelectHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divSelectTooltipHelp").html();
		    }
		});
		$('#imgWhereHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divWhereTooltipHelp").html();
		    }
		});
		$('#imgTimestampHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divTimestampTooltipHelp").html();
		    }
		});
		$('#imgEsIdHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divEsIdTooltipHelp").html();
		    }
		});
		$(".close").click(function(){
		      $("#errorDiv").hide();
		      $("#warningDiv").hide();
		      $("#messageDiv").hide();
		});			
		
	});
//]]>
</script>
</head>
<body>
<div id="main">
	<div th:replace="header::#header"/>
	<div th:replace="sidebar::#sidebar"/>
	<div id='loadingDiv'><img th:attr="src=@{/images/ajax-loader.gif}" /></div>
	<div class="container" style="left: 100px;"> 
			<div id="errorDiv" style="width:800px;display:none">
			    <div class="alert alert-danger alert-error">
			    	<button type="button" class="close">&times;</button>
			  		<strong th:text="#{create.label.error1}"></strong>
			  		<span th:text="#{create.label.error2}">: </span>
			  		<span id="errorMessage"></span>
			    </div>
			</div>
												
			<form id="createForm" action="javascript:return false;" th:object="${metricaBatch}" method="post" >
				<h2 th:text="#{create.label.title.batch}"></h2>
				<div id="tableContainer" style="width:800px;height:400px; overflow:auto;">
					<table>
						<tr>
							<td><label for="lblMetricName" class="classLabel"  th:text="#{create.label.nombre}"></label>*</td>
							<td><label for="lblMetricDescription" class="classLabel" th:text="#{create.label.descripcion}"></label></td>
						</tr>	
						<tr>
							<td><input id="batchMetricName" name="batchMetricName" type="text" required="required" class="classText" th:field="*{batchMetricName}" th:value="${metricaBatch.batchMetricName}"/></td>
							<td><input id="batchMetricDesc" name="batchMetricDesc" type="text" class="classText" th:field="*{batchMetricDesc}" th:value="${metricaBatch.batchMetricDesc}"/></td>
						</tr>		 
						<tr>
							<td><label for="lblInputs" class="classLabel" th:text="#{create.label.origenes}"></label>*</td>
							<td id="tdLblFields">
								<label for="lblFields" class="classLabel" th:text="#{create.label.campos}"></label>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<select id="sourceId" name="sourceId" required="required" th:field="*{sourceId}" class="classSelect">
									<option th:each="source : ${lstSources}" th:value="${source.id}" th:text="${source.kafkaTopic}"></option>
								</select>
								<input id="selSourceName" name="selSourceName" type="hidden"/>
							</td>
							<td id="tdSelectFields">
								<select id="selFields" name="selFields" class="classSelect" multiple="multiple"> 
									<option th:each="field : ${lstFields}" th:value="${field.id}" th:text="${field.nombreCampo}"></option>
								</select>
								<input id="idSource" type="hidden"/>
							</td>			
						</tr>
						<tr><td></td></tr>
						<tr>
							<td><label for="lblQueryType" class="classLabel" th:text="#{create.label.query.type}"></label>*
								<a href="#" th:title="#{create.label.help}">
									<img id="imgTypeHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px" ></img>
								</a> 
							</td>
							<td>
								<p th:if="${metricaBatch.id} == null">
									<label for="lblQuery" class="classLabel" th:text="#{create.label.tipo}"></label>*
									<input type="radio" name="rdMetricType" value="1" required="required" th:text="#{create.label.tipo.batch}"/>
									<input type="radio" name="rdMetricType" value="0" required="required" th:text="#{create.label.tipo.online}"/>
								</p>
								<p th:if="${metricaBatch.id} != null">
									<p th:if="${metricaBatch.isBatch} == false">								
										<label for="lblQuery" class="classLabel" th:text="#{create.label.tipo}"></label>*
										<input disabled="disabled" type="radio" name="rdMetricType" value="1" required="required" th:text="#{create.label.tipo.batch}"/>
										<input disabled="disabled" type="radio" name="rdMetricType" value="0" required="required" th:text="#{create.label.tipo.online}" checked="checked"/>
									</p>				
									<p th:if="${metricaBatch.isBatch} == true">								
										<label for="lblQuery" class="classLabel" th:text="#{create.label.tipo}"></label>*
										<input disabled="disabled" type="radio" name="rdMetricType" value="1" required="required" th:text="#{create.label.tipo.batch}" checked="checked"/>
										<input disabled="disabled" type="radio" name="rdMetricType" value="0" required="required" th:text="#{create.label.tipo.online}"/>
									</p>
								</p>
								<!-- 
								<div id="divSchedule" style="display:none">
									<label for="lblSchedule" class="classLabel" th:text="#{create.label.schedule}"></label>
									<input type="text" id="planificacion" name="planificacion" th:field="*{planificacion}" />
								</div>													
								 -->
							</td>
						</tr>
						<tr>
							<td colspan="2"><textarea class="classQuery" id="typeQuery" th:field="*{typeQuery}" rows="3" cols="100" name="typeQuery" required="required" ></textarea></td><td></td>
						</tr>
						<tr>
							<td><label for="lblQuerySelect" class="classLabel" th:text="#{create.label.query.select}"></label>*
								<a href="#" th:title="#{create.label.help}">
									<img id="imgSelectHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px" ></img>
								</a> 
							</td>
							<td>
								<!-- 
								<input type="radio" name="rdTimestamp" id="rdTimestampSi" th:text="#{create.label.timestamp.si}" />
								<input type="radio" name="rdTimestamp" id="rdTimestampNo" th:text="#{create.label.timestamp.no}"/>
								 -->
								 <p th:if="${metricaBatch.esTimestamp} == null">
									<a href="#" th:title="#{create.label.help}">
										<img id="imgTimestampHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
									</a> 
									<label for="lblTimestamp" class="classLabel" th:text="#{create.label.timestamp}"/>
									<input id="esTimestamp" type="text" name="esTimestamp" th:value="#{create.value.timestamp}" class="classText" style="width:195px;"/>
								</p>				
								 <p th:if="${metricaBatch.esTimestamp} != null">
									<a href="#" th:title="#{create.label.help}">
										<img id="imgTimestampHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
									</a> 
									<label for="lblTimestamp" class="classLabel" th:text="#{create.label.timestamp}"/>
									<input id="esTimestamp" type="text" th:field="*{esTimestamp}" name="esTimestamp" class="classText" style="width:195px;"/>
								</p>				
								<a href="#" th:title="#{create.label.help}">
									<img id="imgEsIdHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
								</a> 
								<label for="lblEsId" class="classLabel" th:text="#{create.label.esid}"/>
								<input id="esId" type="text" name="esId" th:field="*{esId}" class="classText" style="width:195px;"/>
							</td>
						</tr>
						<tr>
							<td colspan="2"><textarea class="classQuery" id="selectQuery" th:field="*{selectQuery}" rows="3" cols="100" name="selectQuery" required="required"></textarea></td><td></td>
						</tr>
						<tr>
							<td colspan="2"><label for="lblQueryFrom" class="classLabel" th:text="#{create.label.query.from}"></label></td>
						</tr>
						<tr>
							<td colspan="2"><textarea disabled="disabled" class="classQuery" id="fromQuery" th:field="*{fromQuery}" rows="1" cols="100" name="fromQuery" required="required"></textarea></td><td></td>
						</tr>
						<tr>
							<td colspan="2"><label for="lblQueryWhere" class="classLabel" th:text="#{create.label.query.where}"></label>
								<a href="#" th:title="#{create.label.help}">
									<img id="imgWhereHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px" ></img>
								</a> 
							</td>
						</tr>
						<tr>
							<td colspan="2"><textarea class="classQuery" id="whereQuery" th:field="*{whereQuery}" rows="3" cols="100" name="whereQuery"></textarea></td><td></td>
						</tr>
						<tr height="10"></tr>
					</table>
				</div>
				<br/>
				<div id="divButton" style="margin-left:4px;">
					<p th:if="${metricaBatch.id} == null">
						<input id="btSubmit" type="submit" class="btn btn-primary" th:value="#{create.label.lanzar}"/>
						<input id="hidModif" name="hidModif" type="hidden" value="0"/>
					</p>
					<p th:if="${metricaBatch.id} != null">
						<p th:if="${metricaBatch.estado} == Error">
							<input id="btSubmit" type="submit" class="btn btn-primary" th:value="#{create.label.actualizar}"/>
							<input id="hidModif" name="hidModif" type="hidden" th:value="${metricaBatch.id}"/>
						</p>
						<p th:if="${metricaBatch.estado} != Error">
							<input id="btSubmit" type="submit" class="btn btn-primary" th:value="#{create.label.actualizar}"/>
							<input id="hidModif" name="hidModif" type="hidden" th:value="${metricaBatch.id}"/>
						</p>
					</p>
				</div>					
				<div id="divTypeTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.type1}"></span><br/><i><span th:text="#{create.tooltip.type2}"></span></i>
				</div>
				<div id="divSelectTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.select1}"></span><br/><span th:text="#{create.tooltip.select2}"></span><br/>
					<i><span th:text="#{create.tooltip.select3}"></span></i><br/>				
					<i><span th:text="#{create.tooltip.select4}"></span></i>
				</div>
				<div id="divWhereTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.where1}"></span><br/><i><span th:text="#{create.tooltip.where2}"></span></i>
				</div>
				<div id="divTimestampTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.timestamp}"/>
				</div>
				<div id="divEsIdTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.esid}"/>
				</div>
			</form>
	</div>
</div>	
</body>
</html>