<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{create.label.title.online}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/jquery.dataTables.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/jquery-ui-1.10.4.min.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/dataTables.jqueryui.css}" />

<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/jquery.dataTables.min.js}" />                       
<script th:src="@{/js/dataTables.bootstrap.js}" />
<script th:src="@{/js/jquery-ui-1.10.4.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:inline="javascript">
//<![CDATA[
	$(document).ready(function() {
		$('#tableContainer').height($(window).height() - 150);
		$('#divContainer').css({ "left" : 100 + "px" });
		$(window).on('resize', function(){
			$('#tableContainer').height($(window).height() - 150);			
		});
		var query = '';
		var streamType = '';
		var idMetric = /*[[${metricaOnLine.id}]]*/ "";		
		if (idMetric != null && idMetric != ''){
			setTimeout(function() {
				$('#sourceId').prop('disabled', false);
				$('#sourceId').click();
				$('#sourceId').prop('disabled', true);
				//$('#selFields').prop('disabled', true);
			}, 150);
			
		}
		else{
			setTimeout(function() {
				$('#sourceId').click();
			}, 150);
		}
		
		$.widget.bridge('uitooltip', $.ui.tooltip);
		$.widget.bridge('uibutton', $.ui.button);
		$(".close").click(function(){
		      $("#errorDiv").hide();
		      $("#warningDiv").hide();
		      $("#messageDiv").hide();
		      $("#warningDivTable").hide();
		});
		
		$('#loadingDiv').hide();
		$(document).ajaxStart(function(){$("#loadingDiv").show();});
		$(document).ajaxStop(function(){$("#loadingDiv").hide();});
		
		$('#sourceId').click(function() {
			$('#idSource').val($('#sourceId').val());
			$('#selSourceName').val($( "#sourceId option:selected" ).text());
			$('#selFields').load('getFieldsBySource', {idSource: $('#idSource').val()} );
		});
		
		$('#queryInto').blur(function(){
			var into = $("#queryInto").val().toLowerCase();
			var array1 = new Array();
			if (into.indexOf('insert into ') != -1){
				array1 = into.split(' ');
				streamType = array1[2];  
			}
			else if (into.indexOf('delete ') != -1){
				array1 = into.split(' ');
				streamType = array1[1];
			}
			else if (into.indexOf('update ') != -1){
				array1 = into.split(' ');
				streamType = array1[1];
			}
			else{
				streamType = '';
			}
			$('#esType').val($("#onLineMetricName").val()+ '_' + streamType); 
		});

		$('#onLineMetricName').blur(function() {			
			$('#esType').val($("#onLineMetricName").val()+ '_' + streamType);
		});

		$(document).uitooltip({
		    track:true
		});
		
		function CreateForm(){			
			var createForm = this;
			createForm.onLineMetricName = $('#onLineMetricName').val();
			createForm.onLineMetricDesc = $('#onLineMetricDesc').val();
			createForm.hidModif = $('#hidModif').val();			
			createForm.sourceId = $('#sourceId').val()[0];
			createForm.selSourceName = $('#selSourceName').val();
			createForm.streamName = $('#streamName').val();
			createForm.streamFields = $('#streamFields').val();
			createForm.error = null;
		}

		$("#btSubmit").click(function() {
			$("#errorDiv").hide();
			var createForm = new CreateForm();
			$('#onLineMetricName').prop('disabled', false);
			$('#onLineMetricDesc').prop('disabled', false);
			$('#sourceId').prop('disabled', false);
			$('#selFields').prop('disabled', false);
			$('#streamName').prop('disabled', false);
			$('#streamFields').prop('disabled', false);
			//$('#esType').prop('disabled', false);
			$("#loadingDiv").show();
			$.ajax({ 
			    url: "/web_console/console/createOnLineMetric", 
			    type: 'POST', 
			    dataType: 'json', 
			    data: JSON.stringify(createForm), 
			    contentType: 'application/json',
			    mimeType: 'application/json',
			    success: function(data) { 
					if(data.id == 'ERROR'){
				    	$("#loadingDiv").hide();
				    	$("#errorDiv").show();
				    	document.getElementById('errorMessage').innerHTML = data.error;
					}
					else{
						window.location.href = "showonline";
					}
			    },
			    error:function(error) {
			    	document.getElementById('errorMessage').innerHTML = error;
			    	$("#loadingDiv").hide();
			    	$("#errorDiv").show();
			    	$('#esType').prop('disabled', true);
			    }
			});
		});		
		
		$("input[name=rdCallback]").click(function () {    
	        if ($(this).val() == 1){
	        	$('#lblEsFormats').show();
	        	$('#lblEsType').show();
	        	$('#lblEsTTL').show();
	        	$('#txtEsFormats').show();
	        	$('#txtEsType').show();
	        	$('#txtEsTTL').show();
	        	$('#lblEsId').show();
	        	$('#txtEsId').show();
	        }
	        else{
	        	$('#lblEsFormats').hide();
	        	$('#lblEsType').hide();
	        	$('#lblEsTTL').hide();
	        	$('#txtEsFormats').hide();
	        	$('#txtEsType').hide();
	        	$('#txtEsTTL').hide();
	        	$('#lblEsId').hide();
	        	$('#txtEsId').hide();
	        }
	    });
		
		$('#imgQueryFromHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divQueryFromHelp").html();
		    }
		});
		$('#imgQueryIntoHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divQueryIntoHelp").html();
		    }
		});
		$('#imgQueryAsHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divQueryAsHelp").html();
		    }
		});
		$('#imgQueryGroupByHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divQueryGroupBy").html();
		    }
		});
		$('#imgQueryIdHelp').popover({
		    html: true,
		    content: function () {
		        return $("#divQueryId").html();
		    }
		});
		$('#imgOutputFieldFormat').popover({
		    html: true,
		    content: function () {
		        return $("#divOutputFieldFormat").html();
		    }
		});
		$('#imgEsTTL').popover({
		    html: true,
		    content: function () {
		        return $("#divEsTTL").html();
		    }
		});
		$('#imgEsType').popover({
		    html: true,
		    content: function () {
		        return $("#divEsType").html();
		    }
		});
		$('#imgTableName').popover({
		    html: true,
		    content: function () {
		        return $("#divtTableCepName").html();
		    }
		});
		$('#imgTableFields').popover({
		    html: true,
		    content: function () {
		        return $("#divtTableCepFields").html();
		    }
		});

	});
	
	
	// QUERY CEP
	var rowSelected = false;
	var idQuery = null;
	var addModal = false;
	var queryRow = 0;

	function QueryDTO(){			
		var queryDTO = this;
		var estado = new Object();
		queryDTO.rdCallback = $('input[name=rdCallback]:checked').val();
		queryDTO.queryName = $('#queryName').val();
		queryDTO.queryFrom = $('#queryFrom').val();
		queryDTO.queryInto = $('#queryInto').val();
		queryDTO.queryAs = $('#queryAs').val();
		queryDTO.queryGroupBy = $('#queryGroupBy').val();			
		queryDTO.queryId = $('#queryId').val();
		queryDTO.outputFieldFormat = $('#outputFieldFormat').val();
		queryDTO.esType = $('#esType').val();
		queryDTO.esTTL = $('#esTTL').val();
		queryDTO.queryOrder = $('#queryOrder').val();
		queryDTO.estado = estado;
	}
	
	function addQuery(){
		addModal = true;
		$('#queryName').val(null);
		$('#queryFrom').val(null);
		$('#queryInto').val(null);
		$('#queryAs').val(null);
		$('#queryGroupBy').val(null);		
		$('#queryId').val(null);
		$('#outputFieldFormat').val(null);
		$('#esTTL').val(null);
		$('#queryOrder').val(null);
		$('#modalQuery').modal({show:true});
		
		var fields = $("#createQueryForm").find('textarea, input').filter('[required]:visible').serializeArray();
		$.each(fields, function(i, field) {
	    	$('#div'+ field.name).hide();
	    }); 
	}
	
	function modifyQuery(){
		addModal = false;
		if(rowSelected){
			$.ajax({ 
			    url: "/web_console/console/findQueryById", 
			    type: 'POST', 
			    data: {idQuery: idQuery},
			    success: function(data) {
					$('#queryName').val(data.queryName);
					$('#queryFrom').val(data.queryFrom);
					$('#queryInto').val(data.queryInto);
					$('#queryAs').val(data.queryAs);
					$('#queryGroupBy').val(data.queryGroupBy);
					$('#queryId').val(data.queryId);
					$('#outputFieldFormat').val(data.outputFieldFormat);
					$('#esTTL').val(data.esTTL);
					$('#esType').val(data.esType);
					$('#queryOrder').val(data.queryOrder);
					if(data.rdCallback == '1'){
						$("#rdCallback1").prop("checked", true);
			        	$('#lblEsFormats').show();
			        	$('#lblEsType').show();
			        	$('#lblEsTTL').show();
			        	$('#txtEsFormats').show();
			        	$('#txtEsType').show();
			        	$('#txtEsTTL').show();
			        	$('#lblEsId').show();
			        	$('#txtEsId').show();
					}
					else if(data.rdCallback == '0'){
						$("#rdCallback0").prop("checked", true);
			        	$('#lblEsFormats').hide();
			        	$('#lblEsType').hide();
			        	$('#lblEsTTL').hide();
			        	$('#txtEsFormats').hide();
			        	$('#txtEsType').hide();
			        	$('#txtEsTTL').hide();
			        	$('#lblEsId').hide();
			        	$('#txtEsId').hide();
					}
					$('#modalQuery').modal({show:true});
			    }
			});			
		}
		else{
			$("#warningDiv").show();
		}
	}

	function updateQueryToRemove(){
		var idMetric = /*[[${metricaOnLine.id}]]*/ "";
		if (queryRow != null){
			if(rowSelected){
				$('#divTable').load('updateQueryToRemove', {idMetric: idMetric, idQuery: idQuery});
			}
			else{
				$("#warningDiv").show();
			}			
		}
		else{
			$("#warningDiv").show();
		}
	}
	
	function deleteQuery(){
		if (queryRow != null){
			if(rowSelected){
				$('#divTable').load('deleteQuery', {idQuery: idQuery});
			}
			else{
				$("#warningDiv").show();
			}			
		}
		else{
			$("#warningDiv").show();
		}
	}
	
	function saveQuery(){
		var bSubmit = true;
		var fields = $("#createQueryForm").find('textarea, input').filter('[required]:visible').serializeArray();			
		$.each(fields, function(i, field) {
		    if (!field.value){
		    	$('#div'+ field.name).css("color", "red");
		    	$('#div'+ field.name).show();
		    	bSubmit = false;
		    }
		    else{
		    	$('#div'+ field.name).hide();
		    }
	    });
		if (bSubmit){
			var queryDTO = new QueryDTO();
			if (addModal){
				queryDTO.estado.code = '101';
				$.ajax({ 
				    url: "/web_console/console/saveQuery", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(queryDTO), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
				    	$("#divTable").load('/web_console/console/getQueries');
				    }
				});
			}
			else{				
				queryDTO.id = idQuery;
				queryDTO.estado.code = '105';
				$.ajax({ 
				    url: "/web_console/console/updateQuery", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(queryDTO), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
				    	$("#divTable").load('/web_console/console/getQueries');
				    }
				});
			}
	    	$('#modalQuery').modal('hide');
		}
	}

	// TABLE CEP
	var rowTableSelected = false;
	var idTable = null;
	var addTableModal = false;
	var tableRow = 0;

	function TableDTO(){			
		var tableDTO = this;
		var estado = new Object();
		tableDTO.tableName = $('#tableCepName').val();
		tableDTO.tableFields = $('#tableCepFields').val();
		tableDTO.estado = estado;
	}
	
	function addTable(){
		addTableModal = true;
		$('#tableCepName').val(null);
		$('#tableCepFields').val(null);
		$('#modalTable').modal({show:true});
		
		var fields = $("#createTableForm").find('textarea, input').filter('[required]:visible').serializeArray();
		$.each(fields, function(i, field) {
	    	$('#div'+ field.name).hide();
	    }); 
	}
	
	function modifyTable(){
		addTableModal = false;
		if(rowTableSelected){
			$.ajax({ 
			    url: "/web_console/console/findTableById", 
			    type: 'POST', 
			    data: {idTable: idTable},
			    success: function(data) {
					$('#tableCepName').val(data.tableName);
					$('#tableCepFields').val(data.tableFields);
					$('#modalTable').modal({show:true});
			    }
			});			
		}
		else{
			$("#warningDivTable").show();
		}
	}
	
	function updateTableToRemove(){
		var idMetric = /*[[${metricaOnLine.id}]]*/ "";
		if (tableRow != null){
			if(rowTableSelected){
				$('#divTableTable').load('updateTableToRemove', {idMetric: idMetric, idTable: idTable});
			}
			else{
				$("#warningDiv").show();
			}			
		}
		else{
			$("#warningDiv").show();
		}
	}
			
	function deleteTable(){
		if (tableRow != null){
			if(rowTableSelected){
				$('#divTableTable').load('deleteTable', {idTable: idTable});
			}
			else{
				$("#warningDivTable").show();
			}			
		}
		else{
			$("#warningDivTable").show();
		}
	}
	
	function saveTable(){
		var bSubmit = true;
		var fields = $("#createTableForm").find('textarea, input').filter('[required]:visible').serializeArray();			
		$.each(fields, function(i, field) {
		    if (!field.value){
		    	$('#div'+ field.name).css("color", "red");
		    	$('#div'+ field.name).show();
		    	bSubmit = false;
		    }
		    else{
		    	$('#div'+ field.name).hide();
		    }
	    });
		if (bSubmit){
			var tableDTO = new TableDTO();
			if (addTableModal){
				tableDTO.estado.code = '301';
				$.ajax({ 
				    url: "/web_console/console/saveTable", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(tableDTO), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
				    	$("#divTableTable").load('/web_console/console/getTables');
				    }
				});
			}
			else{				
				tableDTO.id = idTable;
				tableDTO.estado.code = '304';
				$.ajax({ 
				    url: "/web_console/console/updateTable", 
				    type: 'POST', 
				    dataType: 'json', 
				    data: JSON.stringify(tableDTO), 
				    contentType: 'application/json',
				    mimeType: 'application/json',
				    success: function(data) { 
				    	$("#divTableTable").load('/web_console/console/getTables');
				    }
				});
			}
	    	$('#modalTable').modal('hide');
		}
	}
	
//]]>
</script>
</head>
<body>
	<div th:replace="header::#header"/>
	<div th:replace="sidebar::#sidebar"/>
	<div id='loadingDiv'><img th:attr="src=@{/images/ajax-loader.gif}" /></div>
	<div id='divContainer' class="container"> 
			<div id="errorDiv" style="width:800px;display:none">
			    <div class="alert alert-danger alert-error">
			    	<button type="button" class="close">&times;</button>
			  		<strong th:text="#{create.label.error1}"></strong>
			  		<span th:text="#{create.label.error2}">: </span>
			  		<span id="errorMessage"></span>
			    </div>
			</div>
												
			<form id="createOnLineForm" action="javascript:return false;" th:object="${metricaOnLine}" method="post" >
				<h2 th:text="#{create.label.title.online}"></h2>
				<div id="tableContainer" style="width:800px;overflow:auto;">
					<table>
						<tr>
							<td><label for="lblMetricName" class="classLabel"  th:text="#{create.label.nombre}"></label>*</td>
							<td><label for="lblMetricDescription" class="classLabel" th:text="#{create.label.descripcion}"></label></td>
						</tr>	
						<tr>
							<p th:if="${metricaOnLine.id} != null">												
								<td><input id="onLineMetricName" name="onLineMetricName" type="text" disabled="disabled" class="classText" th:field="*{onLineMetricName}" th:value="${metricaOnLine.onLineMetricName}"/></td>
							</p>
							<p th:if="${metricaOnLine.id} == null">												
								<td><input id="onLineMetricName" name="onLineMetricName" type="text" required="required" class="classText" th:field="*{onLineMetricName}" th:value="${metricaOnLine.onLineMetricName}"/></td>
							</p>														
							<td><input id="onLineMetricDesc" name="onLineMetricDesc" type="text" class="classText" th:field="*{onLineMetricDesc}" th:value="${metricaOnLine.onLineMetricDesc}"/></td>
						</tr>		 
						<tr>
							<td><label for="lblInputs" class="classLabel" th:text="#{create.label.origenes}"></label>*</td>
							<td id="tdLblFields">
								<label for="lblFields" class="classLabel" th:text="#{create.label.campos}"></label>
							</td>
						</tr>
						<tr>
							<td valign="top">
								<p th:if="${metricaOnLine.id} == null">
									<select id="sourceId" name="sourceId" required="required" class="classSelect">
										<option th:each="source : ${lstSources}" th:value="${source.id}" th:text="${source.kafkaTopic}"></option>
									</select>
								</p>
								<p th:if="${metricaOnLine.id} != null">
									<select id="sourceId" name="sourceId" required="required" class="classSelect" th:field="*{streamCep.origenEstructurado.id}">
										<option th:each="source : ${lstSources}" th:value="${source.id}" th:text="${source.kafkaTopic}"></option>
									</select>
								</p>
								<input id="selSourceName" name="selSourceName" type="hidden"/>
							</td>
							<td id="tdSelectFields">
								<select id="selFields" name="selFields" class="classSelect" multiple="multiple"> 
									<option th:each="field : ${lstFields}" th:value="${field.id}" th:text="${field.nombreCampo}"></option>
								</select>
								<input id="idSource" type="hidden"/>
							</td>			
						</tr>
						<tr><td></td></tr>
						<tr>
							<td colspan="2">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border" th:text="#{create.label.stream}"></legend>
									<table>
										<tr>
											<td>
												<label class="classLabel" for="lblStreamName" th:text="#{create.label.streams.nombre}"></label>*
											</td>
											<td>
												<p th:if="${metricaOnLine.id} == null">											
													<input id="streamName" name="streamName" type="text" required="required" class="classText"/>
												</p>
												<p th:if="${metricaOnLine.id} != null">											
													<input id="streamName" name="streamName" type="text" required="required" class="classText" th:field="*{streamCep.streamName}"/>
												</p>
											</td>
										</tr>
										<tr>
											<td>						
												<label class="classLabel" for="lblStreamFields" th:text="#{create.label.streams.campos}"></label>*
											</td>
											<td>
												<p th:if="${metricaOnLine.id} == null">											
													<textarea class="classQuery" id="streamFields" rows="3" cols="80" name="streamFields" required="required"></textarea>
												</p>
												<p th:if="${metricaOnLine.id} != null">											
													<textarea class="classQuery" id="streamFields" rows="3" cols="80" name="streamFields" required="required" th:field="*{streamCep.streamFields}"></textarea>
												</p>
											</td>
										</tr>
									</table>							
								</fieldset>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border" th:text="#{create.label.tablasCep}"></legend>
									<button onclick="addTable();" class="btn btn-primary btn-sm" th:text="#{show.label.new}" th:title="#{show.label.new}"/>
									<button onclick="modifyTable();" class="btn btn-primary btn-sm" th:text="#{show.label.modify}" th:title="#{show.label.modify}" />
									<button th:if="${metricaOnLine.id} != null" onclick="updateTableToRemove();" id="btUpdateTableToRemove" class="btn btn-primary btn-sm" data-toggle="modal" data-dismiss="modal" data-target="#myModal" th:text="#{show.tooltip.delete.online}" th:title="#{show.tooltip.delete.online}"/>
									<button onclick="deleteTable();" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" th:text="#{show.label.delete}" th:title="#{show.label.delete}" />
									<p></p>
							  		<div id="warningDivTable" class="alert alert-warning" style="display:none">
								  		<button type="button" class="close">&times;</button>
								  		<span th:text="#{show.label.error3}"></span>
								  	</div>
								  	<script>
								  	</script>
								  	<div id="divTableTable">
										<table id="exampleTable" class="display" cellspacing="0" width="100%" height="50%">
				    						<script th:inline="javascript">
				    						//<![CDATA[
				    						$(document).ready(function() {				    							
					    						var table = null;
					    						var lang = /*[[${lang}]]*/ "";
					    						var urlLang;
					    						if (lang == 'es'){
					    							urlLang = "/web_console/styles/es_es.lang";
					    						}
					    						else if (lang == 'us'){
					    							urlLang = "/web_console/styles/en_us.lang";
					    						}
					    						else{
					    							urlLang = "/web_console/styles/es_es.lang";
					    						}
					    						table = $('#exampleTable').DataTable({
					    							"columnDefs": [{ "visible": false, "targets": 0 }],
					    					        "scrollY": "300px",
					    					        "scrollCollapse": true,
					    					        "jQueryUI":       true,
					    					        "paging": false,
					    					        "searching": false,
					    					        "info": false,
					    					        "language": {
					    					            "url": urlLang
					    					        }
					    						});
					    						
					    						$('#exampleTable tbody').on('click', 'tr', function () {			    						
					    							idTable = table.row(this).data()[0];
					    							tableRow = table.row(this).index();
						    					    if ( $(this).hasClass('selected') ) {
						    					        $(this).removeClass('selected');	            
						    					        rowTableSelected = false;
						    					    }
						    					    else {
						    					        table.$('tr.selected').removeClass('selected');
						    					        $(this).addClass('selected');
						    					        rowTableSelected = true;
						    					    }
					    						});
				    						});
				    						//]]>
				    						</script>									
										    <thead>
										    	<tr>
										    		<th>&nbsp;</th>
										    		<th th:text="#{create.label.tablasCep.name}"></th>
										    		<th th:text="#{create.label.tablasCep.state}"></th>
										    	</tr>
										    </thead>
				    						<tbody>
				    						<tr th:each="table : ${tablesSession}">
				    							<td th:text="${table.id}"></td>
					    						<td th:text="${table.tableName}"></td>
					    						<td th:text="${table.estado.description}"></td>
				    						</tr>
				    						</tbody>
				    					</table>
			    					</div>
								</fieldset>
							</td>
						</tr>
						<tr><td></td></tr>
						<tr>
							<td colspan="2">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border" th:text="#{create.label.queries}"></legend>
									<button onclick="addQuery();" class="btn btn-primary btn-sm" th:text="#{show.label.new}" th:title="#{show.label.new}"/>
									<button onclick="modifyQuery();" class="btn btn-primary btn-sm" th:text="#{show.label.modify}" th:title="#{show.label.modify}" />
									<button th:if="${metricaOnLine.id} != null" onclick="updateQueryToRemove();" id="btUpdateToRemove" class="btn btn-primary btn-sm" data-toggle="modal" data-dismiss="modal" data-target="#myModal" th:text="#{show.tooltip.delete.online}" th:title="#{show.tooltip.delete.online}"/>
									<button onclick="deleteQuery();" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-sm" th:text="#{show.label.delete}" th:title="#{show.label.delete}" />
									<p></p>
							  		<div id="warningDiv" class="alert alert-warning" style="display:none">
								  		<button type="button" class="close">&times;</button>
								  		<span th:text="#{show.label.error3}"></span>
								  	</div>
								  	<script>
								  	</script>
								  	<div id="divTable">
										<table id="example" class="display" cellspacing="0" width="100%" height="50%">
				    						<script th:inline="javascript">
				    						//<![CDATA[
				    						$(document).ready(function() {				    							
					    						var table = null;
					    						var lang = /*[[${lang}]]*/ "";
					    						var urlLang;
					    						if (lang == 'es'){
					    							urlLang = "/web_console/styles/es_es.lang";
					    						}
					    						else if (lang == 'us'){
					    							urlLang = "/web_console/styles/en_us.lang";
					    						}
					    						else{
					    							urlLang = "/web_console/styles/es_es.lang";
					    						}
					    						table = $('#example').DataTable({
					    							"columnDefs": [{ "visible": false, "targets": 0 }],
					    					        "scrollY": "300px",
					    					        "scrollCollapse": true,
					    					        "jQueryUI":       true,
					    					        "paging": false,
					    					        "searching": false,
					    					        "info": false,
					    					        "language": {
					    					            "url": urlLang
					    					        }
					    						});
					    						
					    						$('#example tbody').on('click', 'tr', function () {			    						
					    							idQuery = table.row(this).data()[0];
					    							queryRow = table.row(this).index();
						    					    if ( $(this).hasClass('selected') ) {
						    					        $(this).removeClass('selected');	            
						    					        rowSelected = false;
						    					    }
						    					    else {
						    					        table.$('tr.selected').removeClass('selected');
						    					        $(this).addClass('selected');
						    					        rowSelected = true;
						    					    }
					    						});
				    						});
				    						//]]>
				    						</script>									
										    <thead>
										    	<tr>
										    		<th>&nbsp;</th>
										    		<th th:text="#{create.label.queries.name}"></th>
										    		<th th:text="#{create.label.queries.state}"></th>
										    	</tr>
										    </thead>
				    						<tbody>
					    						<tr th:each="query : ${queriesSession}">
					    							<td th:text="${query.id}"></td>
						    						<td th:text="${query.queryName}"></td>
						    						<td th:text="${query.estado.description}"></td>
					    						</tr>
				    						</tbody>
				    					</table>
			    					</div>
								</fieldset>
							</td>
						</tr>
					</table>
				</div>
				<div id="divButton" style="margin-left:4px;">
					<p th:if="${metricaOnLine.id} == null">
						<input id="btSubmit" type="submit" class="btn btn-primary" th:value="#{create.label.save.online}"/>
						<input id="hidModif" name="hidModif" type="hidden" value="0"/>
					</p>
					<p th:if="${metricaOnLine.id} != null">
						<input id="btSubmit" type="submit" class="btn btn-primary" th:value="#{create.label.update.online}"/>
						<input id="hidModif" name="hidModif" type="hidden" th:value="${metricaOnLine.id}"/>
					</p>
				</div>					
				<div id="divTypeTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.type1}"></span><br/><i><span th:text="#{create.tooltip.type2}"></span></i>
				</div>
				<div id="divSelectTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.select1}"></span><br/><span th:text="#{create.tooltip.select2}"></span><br/>
					<i><span th:text="#{create.tooltip.select3}"></span></i><br/>				
					<i><span th:text="#{create.tooltip.select4}"></span></i>
				</div>
				<div id="divWhereTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.where1}"></span><br/><i><span th:text="#{create.tooltip.where2}"></span></i>
				</div>
				<div id="divTimestampTooltipHelp" style="display:none">
					<span th:text="#{create.tooltip.timestamp}"/>
				</div>
			</form>
			<!-- MODAL TABLE -->
			<div class="modal" id="modalTable">
				<div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-body">
			        	<form id="createTableForm" name="createTableForm" action="javascript:return false;">			
							<table>
								<tr>
									<td width="60%">
										<label for="lblTableName" class="classLabel"  th:text="#{create.label.streams.nombre}"></label>*
										<a href="#" th:title="#{create.label.help}">
											<img id="imgTableName" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
									<td width="40%"><div id="divtableCepName" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
								</tr>
								<tr>
									<td colspan="2">
										<input id="tableCepName" name="tableCepName" type="text" class="classText" required="required"/>
									</td>
								</tr>
								<tr>
									<td width="60%">
										<label for="lblTableFields" class="classLabel"  th:text="#{create.label.streams.campos}"></label>*
										<a href="#" th:title="#{create.label.help}">
											<img id="imgTableFields" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
									<td width="40%"><div id="divtableCepFields" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
								</tr>
								<tr>
									<td colspan="2">
										<textarea class="classQuery" id="tableCepFields" rows="3" cols="70" name="tableCepFields" required="required"></textarea>
									</td>
								</tr>
							</table>
			        	</form>
				        <div class="modal-footer">
				          <a href="#" data-dismiss="modal" class="btn" th:text="#{create.label.button.cancelar}"></a>
						  <a href="#" onclick="saveTable();" th:text="#{create.label.button.guardar}" class="btn btn-primary" />			          
				        </div>
			        </div>
			      </div>
			    </div>
			</div>
			
			<!-- MODAL QUERY -->
			<div class="modal" id="modalQuery">
				<div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-body">
			        	<form id="createQueryForm" name="createQueryForm" action="javascript:return false;">
							<table>
								<tr>
									<a id="myTooltip" title="Message"></a>
									<td width="20%"><label for="lblQueryName" class="classLabel"  th:text="#{create.label.streams.nombre}"></label>*</td>
									<td width="30%"><div id="divqueryName" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
									<td width="50%">
										<label for="lblCallback" class="classLabel" th:text="#{create.label.callback}"></label>
										<input type="radio" name="rdCallback" id="rdCallback1" value="1" th:text="#{create.label.timestamp.si}"/>
										<input type="radio" name="rdCallback" id="rdCallback0" value="0" checked="checked" th:text="#{create.label.timestamp.no}"/>
									</td>									
								</tr>
								<tr>
									<td colspan="2">
										<input id="queryName" name="queryName" type="text" class="classText" style="width:250px;" required="required"/>
									</td>
									<td>
										<label for="lblQueryOrder" class="classLabel"  th:text="#{create.label.query.order}"></label>* 
										<input id="queryOrder" name="queryOrder" type="number" class="classNumber" min="1" required="required"/>
										<span id="divqueryOrder" style="display:none" th:text="#{create.tooltip.requiredField}" />
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<label for="lblQueryFrom" class="classLabel" th:text="#{create.label.query.from}"></label>*
										<a href="#" th:title="#{create.label.help}">
											<img id="imgQueryFromHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
									<td width="40%"><div id="divqueryFrom" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
								</tr>
								<tr>
									<td colspan="3">
										<textarea class="classQuery" id="queryFrom" rows="3" cols="70" name="queryFrom" required="required"></textarea>
										
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<label for="lblQueryInto" class="classLabel" th:text="#{create.label.query.into}"></label>*
										<a href="#" th:title="#{create.label.help}">
											<img id="imgQueryIntoHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
									<td width="40%"><div id="divqueryInto" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
								</tr>
								<tr>
									<td colspan="3">
										<textarea class="classQuery" id="queryInto" rows="1" cols="70" name="queryInto" required="required"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<label for="lblQueryAs" class="classLabel" th:text="#{create.label.query.as}"></label>*
										<a href="#" th:title="#{create.label.help}">
											<img id="imgQueryAsHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
									<td width="40%"><div id="divqueryAs" style="display:none" th:text="#{create.tooltip.requiredField}"></div></td>
								</tr>
								<tr>
									<td colspan="3">
										<textarea class="classQuery" id="queryAs" rows="3" cols="70" name="queryAs" required="required"></textarea>
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<label for="lblQueryGroupBy" class="classLabel" th:text="#{create.label.query.groupby}"></label>
										<!-- 
										<a href="#" th:title="#{create.label.help}">
											<img id="imgQueryGroupByHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
										 -->
									</td>
								</tr>
								<tr>
									<td colspan="3">
										<textarea class="classQuery" id="queryGroupBy" rows="3" cols="70" name="queryGroupBy"></textarea>
									</td>
								</tr>
								<tr id="lblEsId" style="display:none">
									<td colspan="3">
										<label for="lblQueryId" class="classLabel" th:text="#{create.label.query.id}"></label>
										<a href="#" th:title="#{create.label.help}">
											<img id="imgQueryIdHelp" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
								</tr>
								<tr id="txtEsId" style="display:none">
									<td colspan="3">
										<input id="queryId" name="queryId" type="text" class="classText"/>
									</td>
								</tr>
								<tr id="lblEsFormats" style="display:none">
									<td colspan="3">
										<label for="lblOutputFieldFormat" class="classLabel" th:text="#{create.label.query.formato.es}"></label>
										<a href="#" th:title="#{create.label.help}">
											<img id="imgOutputFieldFormat" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
								</tr>
								<tr id="txtEsFormats" style="display:none">
									<td colspan="3">
										<textarea class="classQuery" id="outputFieldFormat" rows="1" cols="70" name="outputFieldFormat"></textarea>
									</td>
								</tr>
								<tr id="lblEsTTL" style="display:none">
									<td colspan="3">
										<label for="lblTTL" class="classLabel" th:text="#{create.label.query.ttl.es}"></label>
										<a href="#" th:title="#{create.label.help}">
											<img id="imgEsTTL" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
								</tr>
								<tr id="txtEsTTL" style="display:none">
									<td colspan="3">
										<textarea class="classQuery" id="esTTL" rows="1" cols="70" name="esTTL"></textarea>
									</td>
								</tr>
								<tr id="lblEsType" style="display:none">
									<td colspan="3">
										<label for="lblType" class="classLabel" th:text="#{create.label.query.type.es}"></label>
										<a href="#" th:title="#{create.label.help}">
											<img id="imgEsType" data-toggle="popover" th:attr="src=@{/images/help.ico}" style="height:20px;"></img>
										</a> 
									</td>
								</tr>
								<tr id="txtEsType" style="display:none">
									<td colspan="3">
										<textarea class="classQuery" id="esType" rows="1" cols="70" name="esType" disabled="disabled"></textarea>
									</td>
								</tr>
							</table>
						</form>					        
			        </div>
			        <div class="modal-footer">
			          <a href="#" data-dismiss="modal" class="btn" th:text="#{create.label.button.cancelar}"></a>
					  <a href="#" onclick="saveQuery();" th:text="#{create.label.button.guardar}" class="btn btn-primary" />			          
			        </div>
			      </div>
			    </div>
			</div>				
			<div id="divQueryFromHelp" style="display:none">
				<span th:text="#{create.tooltip.queryfrom}"/>
			</div>			
			<div id="divQueryIntoHelp" style="display:none">
				<span th:text="#{create.tooltip.queryinto}"/>
			</div>			
			<div id="divQueryAsHelp" style="display:none">
				<span th:text="#{create.tooltip.queryas}"/>
			</div>			
			<div id="divQueryGroupBy" style="display:none">
				<span th:text="#{create.tooltip.querygroup}"/>
			</div>
			<div id="divQueryId" style="display:none">
				<span th:text="#{create.tooltip.queryid}"/>
			</div>
			<div id="divOutputFieldFormat" style="display:none">
				<span th:text="#{create.tooltip.formatoes}"/>
			</div>
			<div id="divEsType" style="display:none">
				<span th:text="#{create.tooltip.typees}"/>
			</div>
			<div id="divEsTTL" style="display:none">
				<span th:text="#{create.tooltip.ttles}"/>
			</div>

			<div id="divtTableCepName" style="display:none">
				<span th:text="#{create.tooltip.tablecepname}"/>
			</div>
			<div id="divtTableCepFields" style="display:none">
				<span th:text="#{create.tooltip.tablecepfields}"/>
			</div>
	</div>
</body>
</html>