<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{exception.label.title.console}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
</head>
<body>
	<div th:replace="header::#header"/>
	<div th:replace="sidebar::#sidebar"/>
</body>
</html>