<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title th:text="#{exception.label.title.console}"></title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" media="all"	th:href="@{/styles/menu.css}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/jquery-ui-1.10.4.min.css}" />
<script th:src="@{/js/jquery-1.11.1.min.js}" />
<script th:src="@{/js/bootstrap.min.js}" />
<script th:src="@{/js/jquery-ui-1.10.4.min.js}" />
<script th:inline="javascript">
//<![CDATA[
	$(document).ready(function() {
		$.widget.bridge('uitooltip', $.ui.tooltip);
		$.widget.bridge('uibutton', $.ui.button);
		$(document).uitooltip({
		    track:true
		});
	});
//]]>
</script>
</head>
<body>
	<div th:replace="header::#header"/>
	<div th:replace="sidebar::#sidebar"/>
</body>
</html>